<div id="container">
	<form action="/newnew" method="POST">
		<label for="user_name">Name:</label>
		<input type="text" name="user_name" value="" id="user_name">
		<label for="user_email">Email:</label>
		<input type="text" name="user_email" value="" id="user_email">
		<input type="submit" value="Save"/>
	</form>
</div>