<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>New!New!</title>
		<meta name="description" content="NewNew.">
		<meta name="keywords" content="graphic design, design, portfolio, projects, FFolio, flickr">
		<meta name="designer" content="Anthony Kolber - Aesthetically Loyal">
		<meta name="robots" content="index, follow">
		<meta name="robots" content="all">

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="en-au">
		<link rel="stylesheet" href="/stylesheets/public.css" type="text/css" media="screen">
	</head>
	<body>
		<div id="wrapper">
			<h2 class="introduction-title">&mdash;New</h2>
			<h1 class="introduction">New!<span>New!</span></h1>
			<hr>
			<div class="information">
				<form action="/newnew" method="POST">
					<fieldset>
						<p>Create from new:</p>
						<label for="user_name">Name:</label>
						<input type="text" name="user_name" value="" id="user_name"><br>
						<label for="user_email">Email:</label>
						<input type="text" name="user_email" value="" id="user_email"><br>
						<button type="submit">&#x2713; Create New</button>
					</fieldset>
				</form>
			</div>
			
		</div>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-5927416-2");
			pageTracker._trackPageview();
		</script>
	</body>
</html>